# Dependencies
**/node_modules
**/.npm
**/.yarn

# Build outputs
**/dist
**/build
**/out

# Environment & Secrets
**/.env
**/.env.*
**/secrets
*.pem
*.key

# VCS & Config
.git
.gitignore
.github
.firebase
firebase.json
firestore.indexes.json
firestore.rules
storage.rules

# Logs & Temp
*.log
_archive
tests
.idea
.vscode
.DS_Store
